<!DOCTYPE html>
	<html>
		<head>
			<title>Object Relational Mapping</title>
			<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
		</head>

	<body>
		<div class="flex-container">
			<h1>List of Users</h1>
				<% for(let i in rows){ %>
					<p><label>ID:  </label><span> <%=rows[i].id %> </span></p>
					<p><label>Name:  </label><span> <%= (rows[i].firstname) %> <%=rows[i].lastname %> </span></a></p>
		<hr>
	
			<% } %>
		</div>
	</body>
</html>